.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.flex{
    display: flex;
}
.uppercase{
    text-transform: uppercase;
}
.semibold{
    font-weight: bolder;
}
.space-between{
    justify-content: space-between;
}

.mx2{

    margin-left: 12px;
    margin-right: 12px;
}
.container{
  
    margin:auto;
    padding: 0 10vh;
}
